body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #343434;
}

main {
    border: 10px solid black;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
    margin: 50px;
    box-shadow: 5px 3px 30px black;
}
