* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 30px;
    background: #343434;
}

button {
    width: 15%;
    height: 10%;
    border-radius: 10px;
    border: none;
    color: #f9f6ee;
    background-color: #343434;
    font-family: monospace;
    font-size: large;
    font-weight: 600;
    line-height: 100%;
    border: 2px solid #f9f6ee;
    box-shadow: 5px 3px 30px black;
}

button:hover {
    cursor: pointer;
}
